<?xml version="1.0"?>
<!-- This configuration file initializes the module configuration and it is used for registration purposes by the Magento Core Framework -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Infocube_Newsletter" setup_version="1.0.0"></module>
</config>
